@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Jost", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 1em black;
}

.map-card .card-header {
    position: relative;
}

.map-card {
    width: 500px;
    color: #0b486b;
}

.map-card button {
    gap: 0.5em;
    display: flex;
    align-items: center;
}

.map-card .card-header::before {
    content: "";
    width: 0.5em;
    background-color: black;
    border-radius: 0.25em;
    position: absolute;
    height: 40px;
    left: -0.25em;
}

.botoes {
    padding: 4px;
}

.data-card {
    border: none;
    box-shadow: 0px 0.125em 0.5em lightgray;
    max-height: 100px !important;
    min-height: 100px !important;
    justify-content: center;
}

i {
    line-height: 1;
}

.col {
    flex-basis: 33.3%;
    min-width: 33.3%;
}

path {
    /* fill: #F9F9F9; */
    cursor: pointer;
}

.map{
    display: flex;
    width: 100%;

    .map-field{
        width: 100%;
    }
}