$icomoon-font-family: "vuesax-lais" !default;
$icomoon-font-path: "fonts" !default;

$vl-dose-check: "\e900";
$vl-dose-syringe: "\e901";
$vl-dose: "\e902";
$vl-flu: "\e903";
$vl-lung: "\e904";
$vl-polio: "\e905";
$vl-quick-access: "\e906";
$vl-situation-room: "\e907";
$vl-syringe-02-check: "\e908";
$vl-syringe-02: "\e909";
$vl-syringe-03-check: "\e90a";
$vl-syringe-03: "\e90b";
$vl-syringe-04-check: "\e90c";
$vl-syringe-04: "\e90d";
$vl-syringe-add: "\e90e";
$vl-syringe-broken: "\e90f";
$vl-syringe-check: "\e910";
$vl-syringe-close: "\e911";
$vl-syringe-edit: "\e912";
$vl-syringe-time: "\e913";
$vl-syringe: "\e914";
$vl-test-tube-virus: "\e915";
$vl-test-tube: "\e916";
$vl-vaccination-date: "\e917";
$vl-vaccination-monitoring: "\e918";
$vl-vaccine-card: "\e919";
$vl-virus: "\e91a";

