@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Jost", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 1em black;
}

.btn-voltar {
    color: #0b486b;
    font-weight: 500;
}

.btn-filtro,
.btn-export {
    background-color: #0b486b;
    color: white;
    font-weight: 600;

    &:hover{
        background-color: white;
        border: 1px solid #0b486b;
        color: #0b486b;
    }
}

.map-card .card-header {
    position: relative;
}

.map-card {
    width: 50% !important;
    color: #0b486b;

    .card-header .btn,
    .nav-link {
        color: #0b486b;
        border-color: #0b486b !important;

        &:hover {
            background-color: #0b486b40;
        }
    }

    .row-data {
        overflow-y: auto;
        max-height: 400px;
    }

    .nav-link {
        gap: 0.5em;
        display: flex;
        align-items: center;

        &.active {
            background-color: #0b486b;
            color: white !important;
        }
    }

    .card-header::before {
        content: "";
        width: 0.5em;
        background-color: #0b486b;
        border-radius: 0.25em;
        position: absolute;
        height: 40px;
        left: -0.25em;
    }
}

.botoes {
    padding: 4px;
}

.data-card {
    border: none;
    box-shadow: 0px 0.125em 0.5em lightgray;
    max-height: 100px !important;
    min-height: 100px !important;
    justify-content: center;
}

i {
    line-height: 1;
}

.col {
    flex-basis: 33.3%;
    min-width: 33.3%;
}

path {
    /* fill: #F9F9F9; */
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
    }
}

.map {
    display: flex;
}

.nav-tabs {
    border: 0;
}

.card-header {
    background-color: white;
    border: none;
}

#mapNordeste {
    border-color: #ff8a50;

    .card-header::before {
        background-color: #ff8a50 !important;
    }

    .card-header,
    .card-subheader {
        color: #c41c00 !important;
    }

    .card-header .btn {
        border-color: #c41c00 !important;
        color: #c41c00 !important;

        &:hover {
            background-color: #c41c0040;
        }
    }

    .data-card,
    .nav-link {
        color: #ff8a50;
    }

    .nav-link {
        border-color: #ff8a50 !important;
        color: #ff8a50;

        &:hover {
            background-color: #ff8a5040;
        }

        &.active {
            background-color: #ff8a50;
            color: white;
        }
    }
}

#mapNorte {
    border-color: #178545;

    .card-header .btn,
    .nav-link {
        &:hover {
            background-color: #17854540;
        }
        border-color: #178545 !important;
    }

    .card-header::before {
        background-color: #178545 !important;
    }

    .card-header,
    .card-header .btn,
    .card-subheader,
    .data-card,
    .nav-link {
        color: #178545;
    }

    .nav-link {
        &.active {
            background-color: #178545;
            color: white;
        }
    }
}

#mapCentro-Oeste {
    border-color: #ffc107;

    .card-header .btn,
    .nav-link {
        border-color: #946900 !important;

        &:hover {
            background-color: #ffc10740;
        }
    }

    .card-header::before {
        background-color: #ffc107 !important;
    }
    .card-header,
    .card-header .btn,
    .card-subheader,
    .data-card,
    .nav-link {
        color: #946900 !important;
    }

    .nav-link {
        &.active {
            background-color: #946900;
            color: white !important;
        }
    }
}

#mapSudeste {
    border-color: #446ab8;

    .card-header .btn {
        border-color: #446ab8 !important;
    }

    .card-header .btn:hover,
    .nav-link:hover {
        background-color: #446ab840;
    }

    .card-header::before {
        background-color: #446ab8 !important;
    }

    .card-header,
    .card-header .btn,
    .card-subheader,
    .data-card,
    .nav-link {
        color: #446ab8 !important;
    }

    .nav-link {
        border-color: #446ab8 !important;

        &.active {
            background-color: #446ab8;
            color: white !important;
        }
    }
}

// detalhes.html

.accordion-button {
    color: #008380 !important;
    font-weight: 500;
    font-size: 20px;
}

table {
    th,
    td {
        color: #0b486b !important;
        padding: 0.5em 1em !important;
        line-height: 1;
        vertical-align: middle;
    }

    .btn-download {
        color: #446ab8;
        border: 1px solid #446ab8;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.highcharts-label {
    &:first-child rect {
        fill: #178545 !important;
    }

    &:nth-child(2) rect {
        fill: #ff8a50 !important;
    }

    &:nth-child(3) rect {
        fill: #946900 !important;
    }

    &:nth-child(4) rect {
        fill: #7998eb !important;
    }

    &:last-child rect {
        fill: #0b486b !important;
    }
}

.btn_totalbrasil {
    position: absolute;
    right: 1em;
    border-color: #0b486b !important;
    color: #0b486b !important;

    &:hover {
        background-color: #0b486b40;
    }
}

@mixin popover-horizontal {
    margin-top: 5em !important;

    .popover-arrow {
        transform: translate3d(0px, 3em, 0px) !important;
    }
}

.popover {
    min-width: 368px;
    margin: 1em !important;

    .tip {
        background-color: #dae1f1;
        color: #0b486b;
    }

    &[data-popper-placement="left"] {
        @include popover-horizontal;
    }

    &[data-popper-placement="right"] {
        @include popover-horizontal;
    }
}
